/* タブレット */
@media screen and (max-width: 1179px) {
  html {
    font-size: 45%;
  }
  
  /* header start */
  #header {
    height: 80px;
  }

  .header-logo img {
    margin-top: 20px;
  }

  .nav-menu {
    margin-top: 30px;
  }

  .nav-menu a {
    font-size: 14px;
  }
  /* header end */

  /* main visual start */
  .btn {
    padding: 12px 60px;
    border-radius: 10px;
    font-size: 24px;
  }
  /* main visual end */

  /* card start */
  .section-title {
    padding-top: 50px;
    margin-bottom: 56px;
  }

  .section-contents {
    padding-bottom: 80px;
  }

  .section-title h2 {
    margin-bottom: 30px;
  }

  .section-title p {
    width: 60px;
    border: 0.3rem solid #3F51B5;
    margin: 0 auto;
  }

  .card {
    margin-right: 20px;
    width: calc(50% - 50px / 2);
  }

  .card:nth-child(3n) {
    margin-right: 20px;
  }

  .card:nth-child(2n) {
    margin-right: 0;
  }

  .item {
    margin: 15px;
  }

  .item img {
      margin-bottom: 12px;
  }  

  .item h3 {
    margin-bottom:
     10px;
  }

  .item p {
    width: 100%;
    height: 40px;
  }
  /* card end */

  /* news start */
  .news {
    width: 80%;
    display: flex;  
    flex-direction: column;
  }

  .news-date {
      margin-bottom: 6px;
  }

  .news-label {
    margin-bottom: 6px;
  }

  .news-text {
    width: 100%;
    margin-bottom: 0px;
  }
  /* news end */

  /* price start */
  #price .section-contents {
    padding-bottom: 20px;
  }

  .content-img {
    flex: 100%;
    margin-bottom: 10px;
  }

  .content-info {
      color: #333333;
      font-size: 1.6rem;
      flex: 100%;
  }

  .content-info table {
    margin: 0 auto;
  }
  /* price end */

  /* access start */
  .content-map {
    margin-bottom: 20px;
  }

  #access .section-contents {
    padding-bottom: 20px;
  }

  .content-access {
    margin-bottom: 20px;
  }

  .content-access table {
    margin: 0 auto;
  }

  /* contact start */
  #contact {
    padding-bottom: 20px;
}

  .contact-form {
    width: 60rem;
    padding-bottom: 20px;
  }

  .contact-form form {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form-label {
    flex-basis: 10.8rem;
    padding-top: 10px;
    margin-bottom: 20px;

  }

  .required::after {
    margin-left: 5px;
    padding: 2px 5px;
    line-height: 1.6;
  }
  
  .form-text input {
    width: 35.6rem;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .form-select select {
    width: 35.6rem;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .form-textarea input {
    width: 35.6rem;
    height: 40px;
    margin-bottom: 20px;
  }

  .form-radio {
    margin-top: 20px;
  }

  .form-check {
    margin-top: 20px;
  }

  .form-select select {
    background-size: 12px 12px;
  }

  .form-btn a {
    background-size: 0.8px 0.8px;
  }

  .check-label:after, .check-label:before{
    position: absolute; /* ボックスの位置を指定する */
    content: ""; /* ボックスのコンテンツ */
    display: block; /* ブロックレベル要素化する */
    top: 50%; /* 上部から配置の基準位置を決める */
  }

  .check-label:after {
      position: absolute; /* ボックスの位置を指定する */
      content: ""; /* ボックスのコンテンツ */
      display: block; /* ブロックレベル要素化する */
      top: 50%; /* 上部から配置の基準位置を決める */
      left: 5px; /* 左から配置の基準位置を決める */
      margin-top: -10px; /* チェック枠の位置 */
      width: 20px; /* ボックスの横幅を指定する */
      height: 20px; /* ボックスの高さを指定する */
      border: 1px solid #aaaaaa; /* ボックスの境界線を実線で指定する */
  }

  .check-label:before {
      left: 12px; /* 左から配置の基準位置を決める */
      margin-top: -9px; /* チェックマークの位置 */
      width: 6px; /* ボックスの横幅を指定する */
      height: 12px; /* ボックスの高さを指定する */
      border-right: 3px solid #0171bd; /* 境界線（右）のスタイルを指定する */
      border-bottom: 3px solid #0171bd; /* 境界線（下）のスタイルを指定する */
      transform: rotate(45deg); /* 要素を回転させる */
      opacity: 0; /* 要素を透過指定する */
  }

  /* contact start */

  /* footer start */
  #footer .inner {
    padding: 40px 80px 15px 40px;
  }
  
  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-logo img {
    width: 150px;
    height: auto;
  }

  .footer-access p {
    margin-bottom: 6px;
  }

  .footer-center a {
    margin-left: 18px;
  }

  .footer-right a {
    margin-left: 8px;
  }

  .footer-right img {
    width: 20px;
    height: auto;
  }

  .page-top img {
    width: 40px;
    height: auto;
  }
  /* footer end */
}

/* スマホ */
@media screen and (max-width: 767px) {
  html {
    font-size: 35%;
  }

  /* header start */
  #header {
    height: 55px;
  }

  .header-logo img {
    width: 80%;
    height: 80%;
    margin-top: 10px;
  }

  .nav-menu {
    display: none;
    margin-top: 20px;
  }

  .nav-menu a {
    font-size: 12px;
  }
  /* header start */

  /* main visual start */
  .btn {
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 18px;
  }  
  /* main visual end */

  /* card start */
  .section-title {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .section-contents {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin-bottom: 15px;
  }

  .card {
    margin-right: 0px;
    width: calc(100% - 50px);    
  }

  .card:nth-child(3n) {
    margin-right: 0px;
  }

  .card:nth-child(2n) {
    margin-right: 0px;
  }

  .item {
    margin: 12px;
  }

  .item img {
      margin-bottom: 12px;
  }  

  .item h3 {
    margin-bottom: 10px;
  }

  .item p {
    width: 100%;
    height: 40px;
  }
  /* card end */

  /* price start */
  .content-img img {
    width: 70%;
    height: auto;
  }
  
  .th-head {
    border: 1px solid #707070;
    width: 60px;
  }

  .th-data {
      border: 1px solid #707070;
      width: 100px;
  }
  /* price end */

  /* contact start */
  .contact-form {
    width: 40rem;
  }

  .contact-form form {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-label {
    flex-basis: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .required::after {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 5px;
    line-height: 1.6;
  }

  .form-text input {
    flex-basis: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 30px;
  }
  
  .form-select select {
    flex-basis: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 30px;
  }
  
  .form-textarea input {
    flex-basis: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 90px;
  }

  .form-radio {
    margin-top: 10px;
    text-align: center  ;
  }

  .form-check {
    margin-top: 10px;
  }

  .form-select select {
    background-size: 8px 8px;
  }

  .form-btn a {
    background-size: 8px 8px;
  }
  /* price end */

  /* footer start */
  #footer .inner {
    padding: 20px 0 15px 0;
    justify-content: center;
    text-align: center;
  }

  .footer-left {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .footer-center {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

  .footer-right {
      flex-basis: 100%;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  
  .page-top img {
    width: 25px;
    height: auto;
  }
  /* footer end */

}
